force-app/main/default/flows/OpportunityGenerating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_For_Create_List</name>
        <label>Add For Create List</label>
        <locationX>413</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>ListForCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Opportunity_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Id_0</name>
        <label>Assign Account Id</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_By_Id.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Creating_Flag</name>
        <label>Change Creating Flag</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>isNeedCreateAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_In_Oppotunity_0</name>
        <label>Set Fields In Oppotunity</label>
        <locationX>325</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Id</name>
        <label>Set Opp Id</label>
        <locationX>413</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>Set_Opportunity_Id.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_For_Create_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Need_Create_Account</name>
        <label>Do Need Create Account</label>
        <locationX>325</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Set_Fields_In_Oppotunity_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Need_Create_Account_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNeedCreateAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Do Need Create Account True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Id</name>
        <label>Is Account Id</label>
        <locationX>325</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Case_By_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Account_Id_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id</targetReference>
            </connector>
            <label>Is Account Id True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Id_Specified</name>
        <label>Is Account Id Specified</label>
        <locationX>671</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_recoirdId_specified</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Account_Id</targetReference>
            </connector>
            <label>Is recoirdId specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AccountId_Empty</name>
        <label>Is AccountId Empty</label>
        <locationX>600</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_AccountId_Empty_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_By_Id.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Detect_Account_0_0</targetReference>
            </connector>
            <label>Is AccountId Empty True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Empty_Decision_0_0</name>
        <label>Is Record Empty Decision</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Record_Empty_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_0_0</targetReference>
            </connector>
            <label>Is Record Empty</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>StageNamePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>OpportunityGenerating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityGenerating</label>
    <loops>
        <name>Set_Opportunity_Id</name>
        <label>Set Opportunity Id</label>
        <locationX>325</locationX>
        <locationY>2222</locationY>
        <collectionReference>Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Opp_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>193</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Set_Fields_In_Oppotunity_0</targetReference>
        </connector>
        <inputReference>Account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>325</locationX>
        <locationY>2102</locationY>
        <connector>
            <targetReference>Set_Opportunity_Id</targetReference>
        </connector>
        <inputReference>Opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_records</name>
        <label>Create records</label>
        <locationX>325</locationX>
        <locationY>2678</locationY>
        <inputReference>ListForCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_By_Id</name>
        <label>Get Case By Id</label>
        <locationX>600</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_AccountId_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Account_0_0</name>
        <label>Create Account Screen</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Creating_Flag</targetReference>
        </connector>
        <fields>
            <name>Account_Name_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account.Name</elementReference>
            </defaultValue>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Opportunity_Screen</name>
        <label>Create Opportunity Screen</label>
        <locationX>325</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Product_Screen</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$System.OriginDateTime</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage_Name</name>
            <choiceReferences>StageNamePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Product_Screen</name>
        <label>Create Product Screen</label>
        <locationX>325</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_Need_Create_Account</targetReference>
        </connector>
        <fields>
            <name>Product_Block</name>
            <extensionName>c:productsBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Product</name>
                <value>
                    <elementReference>Product</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Products</name>
                <value>
                    <elementReference>Products</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Product</assignToReference>
                <name>Product</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Products</assignToReference>
                <name>Products</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Detect_Account_0_0</name>
        <label>Detect Account Screen</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Record_Empty_Decision_0_0</targetReference>
        </connector>
        <fields>
            <name>accountResearch_0_0</name>
            <extensionName>c:accountResearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Account</name>
                <value>
                    <elementReference>Account</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Account</assignToReference>
                <name>Account</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>545</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Account_Id_Specified</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>isNeedCreateAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListForCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
