force-app/main/default/flows/OpportunityGenerating.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Account_Id</name>
        <label>Assign Account Id</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Id_0</name>
        <label>Assign Account Id</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_By_Id.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Id_In_Oppotunity_0</name>
        <label>Set Account Id In Oppotunity</label>
        <locationX>325</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>Opportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Opportunity_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Need_Create_Account</name>
        <label>Do Need Create Account</label>
        <locationX>325</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Set_Account_Id_In_Oppotunity_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_Need_Create_Account_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Do Need Create Account True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Id</name>
        <label>Is Account Id</label>
        <locationX>325</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Case_By_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Account_Id_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Id</targetReference>
            </connector>
            <label>Is Account Id True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Id_Specified</name>
        <label>Is Account Id Specified</label>
        <locationX>671</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_recoirdId_specified</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Account_Id</targetReference>
            </connector>
            <label>Is recoirdId specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AccountId_Empty</name>
        <label>Is AccountId Empty</label>
        <locationX>600</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_AccountId_Empty_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_By_Id.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Detect_Account_0_0</targetReference>
            </connector>
            <label>Is AccountId Empty True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Empty_Decision_0_0</name>
        <label>Is Record Empty Decision</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Record_Empty_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_0_0</targetReference>
            </connector>
            <label>Is Record Empty</label>
        </rules>
    </decisions>
    <interviewLabel>OpportunityGenerating {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityGenerating</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>193</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Set_Account_Id_In_Oppotunity_0</targetReference>
        </connector>
        <inputReference>Account</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Save_Opportunity_0</name>
        <label>Save Opportunity</label>
        <locationX>325</locationX>
        <locationY>1982</locationY>
        <inputReference>Opportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_By_Id</name>
        <label>Get Case By Id</label>
        <locationX>600</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_AccountId_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Account_0_0</name>
        <label>Create Account</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Account_Name_0_0</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>325</locationX>
        <locationY>1286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Product</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Product</name>
        <label>Create Product</label>
        <locationX>325</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Do_Need_Create_Account</targetReference>
        </connector>
        <fields>
            <name>Product_Block</name>
            <extensionName>c:productsBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Product</name>
                <value>
                    <elementReference>Product</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Products</name>
                <value>
                    <elementReference>Products</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Product</assignToReference>
                <name>Product</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Products</assignToReference>
                <name>Products</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Detect_Account_0_0</name>
        <label>Detect Account</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Record_Empty_Decision_0_0</targetReference>
        </connector>
        <fields>
            <name>accountResearch_0_0</name>
            <extensionName>c:accountResearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Account</name>
                <value>
                    <elementReference>Account</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Account</assignToReference>
                <name>Account</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>545</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Account_Id_Specified</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Products</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
